Repository Claudiacarucci/urban-platform: changes, and which Jenkins stages are due for each by the changed paths.
All: Auth Service, Assignment Service, Ticket Service, Map Service, Media Service, Notification Service, Geo Service, Log Analytics

Auth Service:
                      steps { processService('auth-service', 'auth-service-img', 'auth-deployment') }
                  

Assignment Service:
                      steps { processService('assignment-service', 'assignment-service-img', 'assignment-deployment') }
                  

Ticket Service:
                      steps { processService('ticket-service', 'ticket-service-img', 'ticket-deployment') }
                  

Map Service:
                      steps { processService('map-service', 'map-service-img', 'map-deployment') }
                  

Media Service:
                      steps { processService('media-service', 'media-service-img', 'media-deployment') }
                  

Notification Service:
                      steps { processService('notification-service', 'notification-service-img', 'notification-deployment') }
                  

Geo Service:
                      steps { processService('geo-service', 'geo-service-img', 'geo-deployment') }
                  

Log Analytics:
                      steps { processService('log-analytics-service', 'log-analytics-img', 'log-analytics-deployment') }
                  

Trigger per Auth Service
  auth-service/README.md
Due: Auth Service

Tentativo 2: trigger authservice
  auth-service/README.md
Due: Auth Service

Tentativo 3: trigger authservice
  auth-service/README.md
Due: Auth Service

Correzione Jenkinsfile: aggiunta PYTHONPATH e trigger auth build
  Jenkinsfile
  auth-service/README.md
Due: Auth Service

Correzione plugins docker su jenkins
  auth-service/README.md
Due: Auth Service

Permessi docker
  auth-service/README.md
Due: Auth Service

Permessi docker DNS
  auth-service/README.md
Due: Auth Service

Modifica Jenkins file
  Jenkinsfile
  auth-service/README.md
Due: Auth Service

Modifica permessi docker 2
  auth-service/README.md
Due: Auth Service

Modifica Jenkins file
  auth-service/README.md
Due: Auth Service

Modifica credenziali Jenkins
  auth-service/README.md
Due: Auth Service

Modifica nome immagine
  auth-service/README.md
Due: Auth Service

Pipeline completa e file yaml
  Jenkinsfile
  k8s/assignment-service.yaml
  k8s/auth-service.yaml
  k8s/geo-service.yaml
  k8s/log-analytics-service.yaml
  k8s/map-service.yaml
  k8s/media-service.yaml
  k8s/notification-service.yaml
  k8s/ticket-service.yaml
Due: none

Trigger creazione service
  assignment-service/requirements.txt
  auth-service/requirements.txt
  geo-service/requirements.txt
  log-analytics-service/requirements.txt
  map-service/requirements.txt
  media-service/requirements.txt
  notification-service/requirements.txt
  ticket-service/requirements.txt
Due: Auth Service, Assignment Service, Ticket Service, Map Service, Media Service, Notification Service, Geo Service, Log Analytics

Trigger creazione service README
  assignment-service/README.md
  assignment-service/requirements.txt
  auth-service/README.md
  auth-service/requirements.txt
  geo-service/README.md
  geo-service/requirements.txt
  log-analytics-service/README.md
  log-analytics-service/requirements.txt
  map-service/README.md
  map-service/requirements.txt
  media-service/README.md
  media-service/requirements.txt
  notification-service/README.md
  notification-service/requirements.txt
  ticket-service/README.md
  ticket-service/requirements.txt
Due: Auth Service, Assignment Service, Ticket Service, Map Service, Media Service, Notification Service, Geo Service, Log Analytics

Pipeline completa (Unit Test con Sandbox DB + Deploy + Postman Integration Tests)
  .gitignore
  Jenkinsfile
  assignment-service/requirements.txt
  assignment-service/tests/assignment-service_collection.json
  assignment-service/tests/conftest.py
  auth-service/requirements.txt
  auth-service/tests/auth-service_collection.json
  auth-service/tests/conftest.py
  geo-service/requirements.txt
  geo-service/tests/conftest.py
  geo-service/tests/geo-service_collection.json
  log-analytics-service/requirements.txt
  log-analytics-service/tests/conftest.py
  log-analytics-service/tests/log-analytics-service_collection.json
  map-service/requirements.txt
  map-service/tests/conftest.py
  map-service/tests/map-service_collection.json
  media-service/requirements.txt
  media-service/tests/conftest.py
  media-service/tests/media-service_collection.json
  notification-service/requirements.txt
  notification-service/tests/conftest.py
  notification-service/tests/notification-service_collection.json
  ticket-service/requirements.txt
  ticket-service/tests/conftest.py
  ticket-service/tests/ticket-service_collection.json
Due: Auth Service, Assignment Service, Ticket Service, Map Service, Media Service, Notification Service, Geo Service, Log Analytics

Modifica file Jenkins con permessi pip e test unitari
  Jenkinsfile
Due: none

Modifica file Jenkins con comando find
  Jenkinsfile
Due: none

Modifica file Jenkins entrypoint
  Jenkinsfile
Due: none

Path conditions:
  Auth Service: any of: auth-service/**
  Assignment Service: any of: assignment-service/**
  Ticket Service: any of: ticket-service/**
  Map Service: any of: map-service/**
  Media Service: any of: media-service/**
  Notification Service: any of: notification-service/**
  Geo Service: any of: geo-service/**
  Log Analytics: any of: log-analytics-service/**
